{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-lg-8 offset-lg-2 mt-4">
        <div id="comment" class="mb-1">Loading results...</div>
        <a class="btn btn-primary mt-2" href="{% url 'home' %}">Search Again</a>
        <hr>
        <canvas id="myChart"></canvas>
    </div>

{% endblock %}

{% block jquery %}
    <script>
        endpoint = '/api/chart/data/';
        $.ajax({
            url: endpoint,
            method: "GET",
            data: {
                quote: '',
                results: 0,
                labels: [],
                shopee: [],
                lazada: [],
                items_shopee: 0,
                items_lazada: 0,
            },
            dataType: 'json',
            success: function (data) {
                quote = data.quote;
                results = data.results;
                labels = data.labels;
                shopee = data.shopee;
                lazada = data.lazada;
                items_shopee= data.items_shopee;
                items_lazada= data.items_lazada;
                max_brands = data.max_brands;
                setChart();
                if (max_brands > myChart.options.scales.xAxes[0].ticks.max) {
                    if (max_brands % 5 > 0) {
                        max_brands = max_brands - max_brands % 5 + 5
                    }
                    myChart.options.scales.xAxes[0].ticks.max = max_brands;
                    myChart.update();
                }
                if (results > items_shopee) {
                    $('#comment').html('Shopee.vn: scraping error.');
                }
                else if (results > items_lazada) {
                    $('#comment').html('Lazada.vn: scraping error.');
                }
                else {
                    $('#comment').html('Scraping complete.');
                }
                 if (results > items_shopee && results > items_lazada) {
                    $('#comment').html('Scraping error. Please try again.');
                }
            },
            error: function(error_data){
            console.log("error");
            console.log(error_data)
            }
        });
        function setChart(){
            ctx = document.getElementById('myChart');
            myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Shopee',
                        data: shopee,
                        backgroundColor: 'rgba(200, 240, 255)',
                    },
                    {
                        label: 'Lazada',
                        data: lazada,
                        backgroundColor: 'rgba(50, 100, 170)',
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                           minBarLength: 2,
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 25,
                                callback: function(value) {
                                    return value + "%"}
                            },
                        }],
                        yAxes: [{
                            minBarLength: 2,
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    </script>
{% endblock jquery %}
